Source: ros-verystable-tlsf
Section: misc
Priority: optional
Maintainer: Chris Lalancette <clalancette@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), ros-verystable-ament-cmake, ros-verystable-ament-lint-auto, ros-verystable-ament-lint-common, ros-verystable-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-verystable-tlsf
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-verystable-ament-cmake, ros-verystable-ros-workspace
Description: TLSF allocator version 2.4.6
